@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 50vh;
    padding: 20px;
}

h1 {
    color: #1a202c;
    font-size: 36px;
    font-weight: 700px;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
}

p {
    margin: 32px 0;
    color: #243e63;
    font-size: 16px;
}


/* NAVIGATION */

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__link {
    color: #243e63;
    font-size: 14px;
    font-weight: 600;
    margin: 0 24px;
    padding: 0 0 4px;
    cursor: pointer;
}

.logo__img {
    width: 80px;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 24px;
    color: #243e63;
}

.nav__link--primary {
    background-color: #6415ff;
    color: white;
    padding: 12px 32px;
    border: none;
    border-radius: 24px;
}

/* Header */

.purple {
    color: #6415ff;
}

.home__description {
    width: 40%;
    padding: 0 24px
}

.row__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 96px 0;
}

.home__img--wrapper {
    width: 100%;
    padding: 0 0 0 44px;
    max-width: 520px;
}

.home__description--para{
    margin-top: 40px;
}

.home__description--para--text {
    color: #a0aec0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 700;
    margin: 0;
}

.img__wrapper {
    padding:0 64px 0 0;
    margin: 16px 0 0;
    opacity: 0.5;
}

form {
    display:flex;
    flex-direction:row;
    border: 0 solid #e5e7eb;
    padding:2px;
    border-radius: 9999px;
    border-width: 2px;
    font-weight: 500;
    font-size: 100%;
    overflow: hidden;
  }
  
input {
    flex-grow:2;
    border:none;
    padding-left: 32px;
    color: #e5e7eb;
    font-size: 100%;
  }

input:focus {
    outline: none;
  }
  
button {
    background-color: #6415ff;
    color: white;
    padding: 16px 32px;
    border: none;
    border-radius: 24px;
    margin: 8px 8px 8px 0;
    font-size: 100%;
  }

  /* Main section 1 */

  .main__begin {
    padding: 132px;
    flex-direction: row;
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
  }