@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 50vh;
    padding: 20px;
}

/* NAVIGATION */

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__link {
    color: #243e63;
    font-size: 14px;
    font-weight: 600;
    margin: 0 24px;
    padding: 0 0 4px;
    cursor: pointer;
}

.logo__img {
    width: 80px;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 24px;
    color: #243e63;
}

.nav__link--primary {
    background-color: #6415ff;
    color: white;
    padding: 12px 32px;
    border: none;
    border-radius: 24px;
}