@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inter, system-ui;
}

.container {
    padding: 32px 32px 0 32px;
    width: 100%;
    overflow: hidden;
}

#About, #learn, #values, #test, #prefooter {
    animation: left-right 500ms ease;
}

a {
    text-decoration: none;
    color: #243e63;
}

p {
    width: 100%;
    margin: 0 auto;
    margin-top: 16px;
    font-size: 18px;
    color: #7C8BA1;
    font-weight: 500;
    line-height: 26px;
    max-width: 576px;
}

.purple__box {
    border-radius: 9999px;
    border: none;
    background-color: #6415FF;
    color: #F7FAFC !important;
    padding: 12px 32px;
    margin: 0;
    white-space: nowrap;
    text-align: center;
}

h1 {
    font-size: 48px;
    width: 100%;
    font-weight: 900;
    letter-spacing: 0.4px;
    text-align: center;
    color: #243e63;
}

.purple__text {
    color: #6415FF;
}

/* Navigation */

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav__links--left {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 24px !important;
    margin-left: 0px !important;
}

.nav__img {
    width: 40px;
    margin-right: 12px;
}

.nav__links--right {
    display: flex;
    justify-content: space-around;
}

.nav__link--right {
    margin: 0 24px;
    padding: 0 0 24px;
    display: flex;
    align-items: center;
    font-weight: 600;
    letter-spacing: 0.4px;
    padding-bottom: 4px;
    font-size: 14px;
}

.nav__link--sep {
    margin: 0 24px 0 48px;
}

/* about */

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 96px 0;
}

.about__columns {
display: flex;
}

.about__left--column {
    display: flex;
    flex-direction: column;
    width: 41,667%;
    max-width: none;
    margin: 0 auto;
    text-align: center;
}

.about__header {
    font-weight: 700;
    color: #1A202C;
    line-height: 1.25;
    text-align: left;
}

.about__para {
    margin: 32px 0;
    color: #243e63;
    font-size: 18px;
    width: 100%;
    font-weight: 500;
    text-align: left;
    position: relative;
}

.left__column--inputs {
    padding: 20px 192px 20px 32px;
    background-color: #fff;
    display: flex;
    border-radius: 9999px;
    border: 2px solid #e6e7eb;
    max-width: 448px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.about__email{
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #718096;
    flex-grow: 2;
}

.about__button {
    margin: 8px 8px 8px 0;
    position: absolute;
    max-width: 160px;
    width: 100%;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 16px 0;
    line-height: 1;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    overflow: hidden;
}

.left__column--trusted {
    margin-top: 80px;
    text-align: left;
}

.about__img--description {
    color: #a0aec0;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 0;
}

.about__left--img {
    margin-top: 16px;
    opacity: 0.5;
    padding-right: 128px;
    width: 100%;
    height: auto;
}

.about__right--column {
    max-width: 58.333%;
}

.about__right--img {
    width: 100%;
}